<ul>
  <li *ngFor="let roach of storeService.roaches | async">
    {{ roach.name }} - {{ roach.age }}
    <button (click)="storeService.updateRoach(roach.id, {name: roach.name + 'z'})">Add Z</button>
    <button (click)="storeService.deleteRoach(roach.id)">Delete</button>
    <button (click)="selectRoach(roach.id)">Select</button>
  </li>
  <button (click)="storeService.createRoach({name: 'Created', age: 59})">Create</button>
</ul>

<span *ngIf="storeService.getRoach(selectedRoachId) | async; let roach">
  Selected: {{ roach.name }}
</span>